// VARIABLES
$green: #23a127;
$red: #dc3545;

$breakpoint-min: 320;
$breakpoint-small: 568;
$breakpoint-medium: 768;
$breakpoint-large: 992;
$breakpoint-max: 1200;

// MIXINS
@mixin fluidSizes($property, $min, $max) {
  #{$property}: #{$min + "px"};

  @media screen and (min-width: #{$breakpoint-min + "px"}) {
    #{$property}: calc(#{$min + "px"} + (#{$max} - #{$min}) * (100vw - #{$breakpoint-min + "px"}) / (#{$breakpoint-max} - #{$breakpoint-min}));
  }

  @media screen and (min-width: #{$breakpoint-max + "px"}) {
    #{$property}: #{$max + "px"};
  }
}

// TRANSITIONS
.transition-enter-active,
.transition-leave-active {
  transition: opacity 300ms linear; // Note that the same value needs to be set in Javascript
}

.transition-enter,
.transition-leave-to {
  opacity: 0;
}

// STYLES – GENERAL
body {
  width: 100vw;
  height: var(--windowHeight);
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: var(--windowHeight);
  width: 100%;

  &--ready {
    opacity: 1;
  }
}

a,
a:hover,
a:visited {
  color: black;
  text-decoration: underline;

  &.no-underline {
    text-decoration: none;
  }
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 1200px;
  text-align: center;
  font-size: 36px;
  line-height: 1.6;
  font-weight: 500;

  &--smallSize {
    max-width: 800px;
  }

  &--largeFont {
    font-size: 48px;
    line-height: 2;
  }
}

.input {
  width: 60%;
  padding: 16px;
  font-size: 24px;
  border-radius: 5px;
  border: 2px solid black;
  align-self: center;
  transition: border 300ms ease-in-out;
  
  &:focus {
    outline: none;
  }

  &.error {
    border: 2px solid $red;
  }
}

.buttons {
  text-align: center;
}

.button {
  margin-top: 96px;
  margin-left: 32px;
  margin-right: 32px;
  padding: 16px 20px;
  font-size: 24px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--green {
    background-color: $green;
    border-color: $green;
  }

  &--red {
    background-color: $red;
    border-color: $red;
    cursor: auto;
  }

  &--disable {
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  &--disappear {
    &:hover {
      opacity: 0;
    }
  }

  &--jumpHorizontal {
    &:hover {
      animation: jumpHorizontal 0.5s ease-in-out forwards;
      animation-delay: 0.1s;
    }
  }

  &--jumpVertical {
    &:hover {
      animation: jumpVertical 0.5s ease-in-out forwards;
      animation-delay: 0.1s;
    }
  }

  &--moveAwayLeft {
    &:hover {
      animation: moveAwayLeft 0.5s ease-in-out forwards;
      animation-delay: 0.2s;
    }
  }

  &--moveAwayRight {
    &:hover {
      animation: moveAwayRight 0.5s ease-in-out forwards;
      animation-delay: 0.2s;
    }
  }

  &--rotateClockwise {
    &:hover {
      animation: rotateClockwise 1s ease-in-out forwards;
    }
  }

  &--rotateCounterClockwise {
    &:hover {
      animation: rotateCounterClockwise 1s ease-in-out forwards;
    }
  }

  &--scaleSmall {
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--scaleBig {
    transition: transform 1s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }

  &--skew {
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: skew(-20deg);
    }
  }
}

// STYLES – ANIMATIONS
@keyframes jumpHorizontal {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-20px);
  }

  75% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes jumpVertical {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-20px);
  }

  75% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveAwayLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}


@keyframes moveAwayRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

// STYLES – COMPONENTS
.attendees {
  height: calc(60px * var(--attendeesPerTeam));
  justify-content: flex-start;
}

.teams {
  flex-direction: row;
  align-items: flex-start;

  &--bottom {
    align-items: flex-end;
  }
}

.team {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.attendee,
.teamMember {
  display: inherit;
  justify-content: center;
}

.winningTeam {
  margin-top: 48px;
}
